<h2><%= @deck.name %></h2>

<a href="/decks/<%= @deck.id %>/cards/new">Create new card</a>
<hr />

<% @deck.cards.each do |card| %>
  <p><%= card.front %></p>
  <a href = "/decks/<%= @deck.id %>/cards/<%=card.id %>/edit">Edit</a>
  <form action="/decks/<%=@deck.id %>/cards/<%= card.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete card">
    <hr />
<% end %>
